{% extends 'base.twig' %}

{% block content %}
  {% if errors %}
    <p>
      {% for error in errors %}
        ・{{ error }}<br/>
      {% endfor %}
    </p>
  {% endif %}
  <div class="row">
    <div class="card col s12 m6 offset-m3 l6 offset-l3">
      <form id="reset_form" action="{{ ROOT_PATH }}/auth/password_reset" method="post">
        <input type="hidden" name="ctoken" value="{{CSRF_TOKEN}}" />
        <input type="hidden" name="reset_token" value="{{reset_token}}" />
        <div class="card-content">
          <span class="card-title teal-text">{{ 'password_reset.title' | trans }}</span>
          <div class="input-field col s12">
            <input class="form-control" type="password" name="password" id="password" width="20" required pattern="[a-zA-Z0-9_-@%]{8,16}">
            <label for="password" class="control-label col-md-4">{{ 'password_reset.password' | trans }}</label>
          </div>
          <div class="input-field col s12">
            <input class="form-control" type="password" name="password_confirm" id="password_confirm" width="20" requried pattern="[a-zA-Z0-9_-@%]{8,16}">
            <label for="pass_confirm" class="control-label col-md-4">{{ 'password_reset.password_confirm' | trans }}</label>
          </div>
        </div>
        <div class="card-action">
          <div style="text-align: center; margin-top: 1em;">
            <button role="submit" class="waves-effect waves-light btn">{{ 'password_reset.setting' | trans }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

