{% extends 'base.twig' %}

{% block content %}

  {% if errors is defined and errors %}
    <p>
      {% for error in errors %}
        ・{{ error }}<br/>
      {% endfor %}
    </p>
  {% endif %}

  <div class="row">
    <div class="card col s12 m6 offset-m3 l6 offset-l3">
      <form id="login_form" action="{{ ROOT_PATH }}/auth/request_password_reset" method="post">
        <input type="hidden" name="ctoken" value="{{CSRF_TOKEN}}" />
        <div class="card-content">
          <span class="card-title teal-text">{{ 'password_reset' | trans }}</span>
          <br>
          <div class="input-field row s12">
            <input id="mail" class="validate" type="text" name="mail" required>
            <label for="mail">{{ 'email' | trans }}</label>
          </div>
        </div>
        <div class="card-action">
          <div style="text-align: center; margin-top: 1em;">
            <button role="submit" class="waves-effect waves-light btn">{{ 'reset' | trans }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

